.footer-greybox {
    display: flex;
    flex-wrap: nowrap;
    position: relative;
    z-index: 2;
    color: #fff;

    .container-labelled__label {
        flex-basis: 145px;
        position: relative;

        .greybox-lets-talk {
            color: #333;
            font-size: 14px;
            position: absolute;
            top: 0;
        left: 10%;
            transform: rotate(90deg) translateX(36%);
            white-space: nowrap;
            &::after {
                background-color: #000;
                content: "";
                display: inline-block;
                height: 1px;
                position: relative;
                left: 5px;
                vertical-align: middle;
                width: 50px;
            }
        }

        .site-brand {
            position: absolute;
            left: 25%;
            bottom: 0;
            transform: rotate(-90deg) translate(35%, -50%);
            color: #fff;

            svg .st0 {
                fill: #fff;
            }
        }
    }

    .grey-box-col {
    .offices-row__item {
        border-top:0px;
         margin-right: 70px;
         padding-top: 0px;
        }
    }

    p.contact-info {
        margin-bottom:0;
    }

    .container-labelled__inner {
        flex-grow: 2;
        background-color: #717171;
        padding: 90px 90px;

        h3 {
            font-weight: 400;
            font-size: 2em;
        }

        .lets-chat-desc {
            max-width: 690px;
        }
        .grey-box-col {
            min-width: 400px;
        }

        .greybox-contact {
            position: relative;
            padding: 2em 0;
            display: flex;
            a {
                color: #fff;
            }

            &::after {

            }
        }

        .brand-mobile {
            display: none; 
            
            svg {
                max-width: 150px;
                margin-bottom: 2rem;

                .st0 {
                    fill: #fff;
                }
            }
        }
    }
}

@media only screen and (max-width: 1200px) {
.greybox-contact {
    position: relative;
    padding: 2em 0;
    display: block!important;
}
.grey-box-col {
    padding-top:30px;
    border-top: 1px solid #fff;
}
p.contact-info {
    margin-bottom:30px!important;
}
}


@media only screen and (max-width: 992px) {
    .footer-greybox {

        .container-labelled__label {
            display: none;
        }

        .container-labelled__inner {
            h3 {
                padding-top: 40px;
            }
            .brand-mobile {
              
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    .footer-greybox {

        .container-labelled__inner {
            padding: 65px 50px;
        }
    }
}

