.container {
  position: fixed;
  bottom: 0 !important;
  right: 0 !important;
  left: auto !important;
  background: rgba(0, 0, 0, 0.8) !important;
  max-width: 310px;
  z-index: 100 !important;
}

.content {
  font-size: 14px;
  max-width: 280px;
}

.button {
  font-size: 14px;
  background: none !important;
  padding: 0 20px !important;
  color: #fff !important;
  border: 1px solid #fff !important;
  transition: all 0.3s;
  &:hover {
    color: #000 !important;
    background: #fff !important;
  }
}

.read-more {
  position: absolute;
  bottom: 17px;
  right: 127px;
  color: #fff;
  transition: all 0.3s;
  &:hover {
    text-decoration: underline;
  }
}

@media all and (max-width: 480px) {
  .container {
    max-width: 100% !important;
  }

  .content {
    font-size: 14px;
    max-width: 380px;
    padding: 0 10px;
  }

  .button {
    margin: 0px 0 20px 25px !important;
  }

  .read-more {
    bottom: 21px;
    right: 220px;
  }
}

@media all and (max-width: 375px) {
  .read-more {
    bottom: 21px;
    right: 170px;
  }
}
