.promo-section {
    padding: 200px 300px;
    display: flex;
    justify-content: flex-start;

    &__inner {
        max-width: 1400px;
        margin-right: 100px;
        display: flex;

        h3 {
            font-size: 2rem;
            line-height: 2.4rem;
            font-weight: 400;
            max-width: 600px;
        }

        p {
            font-size: 18px;
            line-height: 28px;
            max-width: 600px;

            span {
                display: block;
            }
        }
    }
}

@media all and (max-width: 1920px) {
    .promo-section {
        padding: 150px 180px 130px;
        &__inner {
            margin-left: 100px;
            
            h3 {
                font-size: 2rem;
                min-width: 500px;
            }
        }
    }
}

@media all and (max-width: 1365px) {
    .promo-section {
        padding: 90px 0px 60px 100px;
        &__inner {
            margin-left: 100px;
            display: block;
            h3 {
              
            }
        }
    }
}


@media all and (max-width: 992px) {
    .promo-section {
        padding: 90px 0px;
        &__inner {
            margin-left: 100px;
            h3 {
                
            }
        }
    }
}

@media all and (max-width: 768px) {
    .promo-section {
        padding-top: 0px;
        padding-bottom: 50px;

        &__inner {
            margin-right: 30px;
            margin-left: 30px;

            h3 {
                font-size: 34px;
                line-height: 1.4;
                min-width: 100px;
            }

            p {
                font-size: 16px;
                line-height: 28px;
                max-width:400px;
            }
        }
    }
}