form#contact-form {
  max-width: 650px;

  label {
    display: block;
    margin-bottom: 1rem;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  input, textarea {
    font-size: 1.3rem;
    font-family: inherit;
    width: 100%;
    margin-bottom:30px;
    background: transparent;
  }

  input {
    border: 1px solid transparent;
    border-bottom-color: #313131;
    padding: 10px 0;
    background: transparent;

    &:focus {
      outline: none;
    }

    &::-ms-input-placeholder, &:-ms-input-placeholder, &::placeholder {
      color: #313131;
      opacity: 1;
    }

    &[type="text"] {

    }

    &[type="email"] {

    }
    &[type="checkbox"] {
      width:auto;
      float:left;
      margin-right: 20px;
    }
  }

  .consent {
    font-size: 14px;
    margin-bottom: 30px;
  }

  textarea {
    
    margin-top: 1.4rem;
    border-bottom: 1px solid #313131;
    padding: 15px;
  }

  button {
    border: none;
    background-color: transparent;
    color: inherit;
    font-family: inherit;
    font-size: 1.3rem;
    cursor: pointer;
    box-shadow: 0 0px 0 0;
    color: #111;
    padding: 2px 0 1px 0;
    text-decoration: none;
    background-image: linear-gradient( transparent 0%, transparent calc(50% - 9px), #ccffcc calc(50% - 9px),#ccffcc 100% );
    transition: background-position 120ms ease-in-out, padding 120ms ease-in-out;
    background-size: 100% 200%;
    background-position: 0 0;
    word-break: break-word;

    svg {
      display: inline-block;
      width: 50px;
      margin-left: 10px;
    }

    &:focus {
      outline: none;
    }
  }
}
@media all and (max-width: 992px) {
input, textarea {
  color:#FFF;
}
input, textarea {
  color: #FFF;
}

form#contact-form button svg {
  display: none;
}

input {
  color:#FFF;
}
form#contact-form input, textarea {
  border-bottom-color: #FFF;
}
form#contact-form textarea {
  border-bottom: 1px solid #FFF!important;
}
form#contact-form button {
  color:#FFF;
  
}

form#contact-form {
p a {
  
  text-decoration: underline;
  color: #FFF;
}
}
}