.banner-section {
  visibility: hidden;
  display: flex;
  height: calc(100vh - 124px);
  min-height: 750px;
  background: linear-gradient(to top, #efefef 0%, #efefef 250px, white 250px);

  &__left {
    position: relative;
    width: 175px;
    min-width: 175px;

    span {
      font-size: 16px;
      transform: rotate(90deg);
      position: absolute;
      height: 145px;
      display: block;
      bottom: 565px;
      left: 57%;
      width: max-content;
      transform-origin: 0 0;
      &::after {
        background-color: #414141;
        content: "";
        display: inline-block;
        height: 1px;
        position: relative;
        left: 10px;
        vertical-align: middle;
        width: 50px;
      }
    }

    svg {
      position: absolute;
      width: auto;
      height: 50px;
      display: block;
      bottom: 95px;
      left: 45%;
    }
  }

  &__inner {
    flex-grow: 1;
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: calc(100vh - 118px);
    overflow: hidden;

    .banner-text {
      position: absolute;
      top: 50%;
      left: 10%;
      color: #fff;
      font-size: 4rem;
      transform: translateY(-50%);
      z-index: 2;
      font-weight: bold;

      span {
        display: block;
        white-space: nowrap;
        overflow: hidden;
      }
    }

    .gatsby-image-wrapper {
      height: 100%;
    }
  }

  &__video {
    height: 100%;

    iframe {
      margin: 0;
      padding: 0;
      border-width: 0;
      outline-width: 0;
    }
  }

  .under-title {
    font-size: 2rem;
    z-index: 1000;
  }
  span.under-title {
    position: absolute;
    padding-bottom: 5px;
  }
  .rolling {
    position: relative;
    overflow: hidden;
    padding: 10px 0 50px;
    top: 20px;
  }
}

@media all and (max-width: 1300px) {
  .banner-section {
    // min-height: 0px;

    &__left {
      width: 100px;
      min-width: 100px;

      span {
        height: 100px;
        bottom: 565px;
        left: 65%;
      }
    }

    &__inner {
      .banner-text {
        font-size: 65px;
      }
    }
  }
}

@media all and (max-width: 768px) {
  .banner-section {
    &__left {
      width: 0;
      min-width: 0;
    }

    &__inner {
      .banner-text {
        font-size: 40px;

        span {
          white-space: normal;
        }
      }
    }
  }
  .under-title {
    font-size: 1.2rem !important;
    z-index: 1000;
  }
  span.under-title {
    position: absolute;
    padding-bottom: 5px;
  }
  .rolling {
    position: relative;
    overflow: hidden;
    padding: 10px 0 50px;
    top: 20px;
  }
}

@media all and (max-width: 480px) {
  .banner-section {
    &__inner {
      .banner-text {
        font-size: 30px;
      }
    }
  }
}

.banner-section__inner .gatsby-image-wrapper {
  height: 100%;
  position: absolute !important;
  width: 100vw;
}
