.swiper-container {
  .swiper-slide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden; // Prevents the scaled image from overflowing the slide bounds

    &:hover {
      .slide-background {
        transform: scale(1.05); // Scales the image up slightly on hover
      }

      .image-caption {
        color: #393939; // Changes the text color on hover
        transform: scale(1.02);
      }
    }

    .slide-background {
      width: 100%;
      height: 450px; // Fixed height to ensure image size remains constant
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      cursor: pointer;
      transition: transform 0.5s ease; // Smooth transition for the hover effect
    }

    .image-caption {
      color: #000; // Initial text color
      background-color: #ccffcc; // Background color
      padding: 16px;
      text-align: left;
      font-size: 14px;
      width: 100%;
      box-sizing: border-box;
      line-height: 1.8;
      cursor: pointer;
      height: 110px; // Fixed height for the caption
      transition: transform 0.5s ease; // Smooth transition for the hover effect
    }
  }
}

.follow-link-container {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 16px;
  width: auto;

  .follow-link {
    background: #ccffcc;
    color: black;
    font-weight: 600;
    font-size: 14px;
    text-decoration: none;
    padding: 6px 12px;
    border-radius: 4px;
    transition: all 0.3s ease;

    &:hover {
      background: #b3ffb3; // Lighter background color on hover
      transform: translateY(-5px); // Moves the link up slightly on hover
    }
  }
}

// Swiper Pagination Bullets
.swiper-pagination-bullet {
  background: #666868; // Sets the color for all pagination bullets
  opacity: 0.7;
}

.swiper-pagination-bullet-active {
  background: #2a3332;
  opacity: 1;
}

.swiper-container {
  .swiper-pagination {
    bottom: -5px; // Adjusts the position of the pagination bullets
    margin-top: 20px; // Adds space between the caption and the dots
  }
}
