.page-heading {
  padding: 175px 375px;

  &__name {
    color: #717171;
  }

  &__title {
    font-size: 3.2rem;
    font-weight: 400;
    max-width:1200px;
    color: #323232;
    line-height: 4rem;
  }

  &__description {
    max-width: 1200px;
    font-size: 1.2rem;
    line-height: 1.8rem;
  }
}


@media all and (max-width: 1700px) {
  .page-heading {
    padding: 115px 275px;
  
    &__name {
      color: #717171;
      font-size: 1rem;
    }
  
    &__title {
      font-size: 2.4rem;
      font-weight: 400;
      max-width:900px;
      color: #323232;
      line-height: 3rem;
    }
  
    &__description {
      max-width: 900px;
      font-size: 1rem;
      line-height: 1.8rem;
    }
  }
}

@media all and (max-width: 1200px) {
  .page-heading {
    padding-right: 200px;
    padding-left: 200px;
  }
}

@media all and (max-width: 992px) {
  .page-heading {
    padding-right: 150px;
    padding-left: 150px;

    &__title {
      font-size: 3rem;
    }
  }
}

@media all and (max-width: 768px) {
  .page-heading {
    padding: 30px 30px;


    &__title {
      font-size: 2.8rem;
      line-height:2.3rem;
    }
    &__name {
      font-size: 1rem;
    }
  }
}

@media all and (max-width: 576px) {
  .page-heading {
    padding-right: 30px;
    padding-left: 30px;

    &__title {
      font-size: 2rem;
    }
    &__description {
      font-size: 1rem;
    }
  }
}