.page-heading {
  padding: 115px 375px;

  &__name {
    color: #717171;
  }

  &__title {
    font-size: 3.5rem;
    font-weight: 400;
    max-width:900px;
  }

  &__description {
    max-width: 850px;
    font-size: 1.2rem;
    line-height: 1.8rem;
  }
}

@media all and (max-width: 1400px) {
  .page-heading {
    padding-right: 300px;
    padding-left: 300px;
  }
}

@media all and (max-width: 1200px) {
  .page-heading {
    padding-right: 200px;
    padding-left: 200px;
  }
}

@media all and (max-width: 992px) {
  .page-heading {
    padding-right: 150px;
    padding-left: 150px;

    &__title {
      font-size: 3rem;
    }
  }
}

@media all and (max-width: 768px) {
  .page-heading {
    padding: 30px 30px;


    &__title {
      font-size: 2.8rem;
    }
    &__name {
      font-size: 1rem;
    }
  }
}

@media all and (max-width: 576px) {
  .page-heading {
    padding-right: 30px;
    padding-left: 30px;

    &__title {
      font-size: 2rem;
    }
    &__description {
      font-size: 1rem;
    }
  }
}