ul.social-links__menu {
    list-style-type: none;
    display: flex;
    flex-wrap: nowrap;
    margin: 0;
    padding: 0;
}

a.socialLink {
    font-size: 1.3em;
    margin: 5px 15px;
}

@media only screen and (max-width: 992px) {

 a.socialLink {
            margin: 0 10px 0 15px;
        }
  
}