.team-members-section {
  margin-bottom: 90px;
}

.team-member {

  &__name {
    font-size: 1.5rem;
    margin-bottom: .5rem;
    font-weight: 400;
    margin-top: 2rem;
  }

  &__photo {
    display: block;
    width: 100%;
    height: auto;
    margin-bottom: 2rem;
  }

  &__position {
    color: #717171;
    font-size: .9rem;
  }
}